.handle {
  width: 12px !important;
  height: 12px !important;
  outline: 1px solid var(--primary-color);
  background-color: var(--primary-color) !important;
}

.handle-right {
  left: -5px !important;
}

.handle-left {
  right: -5px !important;
}
